.profile-container1 {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Ensure full viewport height */
    padding: 20px;
}

.entries-list1 {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ensures the list takes the full width of its container */
    max-width: 600px; /* Limit the maximum width */
    text-align: center; /* Center the text */
}

.request-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

/* .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
} */

.request-details {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.request-details h3 {
    margin: 0 0 5px 0;
    font-size: 1.1em;
    flex-grow: 1;
    text-align: left;
}

.request-details button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.request-details button:first-of-type {
    background-color: #4caf50;
    color: white;
}

.request-details button:last-of-type {
    background-color: #f44336;
    color: white;
}
